# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
*.duckdb

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars
infra/plan.tfplan

# Secrets
.env
*.env
profiles.yml

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS
.DS_Store
Thumbs.db
